
body{
background: green;
}

body[class=login]{
background-image: url("/images/50823004-metal-texture-background.jpg");
background-size: cover;
margin: 0;
padding: 0;
display: flex;
}

div[class=container] form{
margin: 0;
}

div[class=container]{
display: flex;
    flex-direction: column;
    }

 label[class=hidden]{
  display:none;
}


input[class=hidden]{
  display: none;
}

select[class=hidden]{
display:none;
}

option[class=hidden]{
display: none;
}


header nav {
  display: flex;
  justify-content: flex-end;
}

div[class=login]{

  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center }

}


input[type=text]{
  font-size: 20px;
  width: 15%;
  padding: 5px;
  margin: 8px 0;
  border: none;
  background-color: rgba(221, 207, 30, 0.99);
}

a{
  display: flex;
  text-decoration: none;
}

header[class=container2]{
    display: flex;
    justify-content: center;
}


header[class=container]{
    display: flex;
    justify-content: flex-end;
}

p[class=col-md-3 text-right]{
display: flex;
width: 25%;
}

nav[class=col-sm-8 text-right]{
display: flex;
justify-content: flex-end;
}

nav p{
    padding: 5px;
}

nav a{
    display: flex;
    justify-content: flex-end;
}