@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot');
  src: url('webfont.eot?#iefix') format('embedded-opentype'),
       url('webfont.woff2') format('woff2'),
       url('webfont.woff') format('woff'),
       url('webfont.ttf')  format('truetype'),
       url('webfont.svg#svgFontName') format('svg');
}

body{
background-color: green;
}

h1{
text-color:rgb(181, 0, 0);
}

 label[class=hidden]{
  display:none;
}


input[class=hidden]{
  display: none;
}

select[class=hidden]{
display:none;
}

option[class=hidden]{
display: none;
}



table{
  padding: 25px;
  margin: 15px;
}

table,th,td{
  border: 1px solid black;
  border-spacing: inherit;
  border-collapse: collapse;
}

th,td{
  padding: 5px;
}

th{
  font-family: sans-serif;
  color: rgb(10, 10, 10);
}

td{
  background-color: rgba(221, 207, 30, 0.99);
  font-family: sans-serif;
  text-align: center;
  color: none;
}

td.special{
  border-style: hidden;
  font-family: sans-serif;
    background-color: rgba(162, 30, 30, 0.98);
    text-align: justify;
    font-size: 20px;
}


input[type=text]{
  font-size: 15px;
  width: 10%;
  padding: 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: rgba(221, 207, 30, 0.99);
}