
<div class=container>
    <div class="row-text-center">
<form action="/login" method="post">
    <label for="username">Your name</label>
    <input id="username" name="username" type="text">

    <button type="submit">Submit name</button>
  </form>
    </div>
</div>
