<body>
<div class=container>

<form action="/login" method="post">
    <label for="username">User</label>
    <input id="username" placeholder="username required" name="username" type="text">

    <button type="submit">Submit name</button>
  </form>
</div>
</body>