<h1>Dyno Dino's</h1>

    <a href="/dinosaurs" class="button center">All Dino's</a>

    <a href="/paddocks" class="button center">All Paddocks</a>

    <a href="/raptors" class="button center">Raptors</a>



