<p>Would You like to Re-stock $paddock.getName()</p>
<form action="/paddocks/restock/$paddock.getId()" method="post">
    <input type="submit" class="button" value="Confirm">
</form>

<a href="/paddocks" class="button center">Cancel</a>